
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGrodekLabel">Create or edit a Grodek</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.grodek.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.grodek.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_place">Place</label>
            <input type="text" class="form-control" name="place" id="field_place"
                    ng-model="vm.grodek.place"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.grodek.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.grodek.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_coords">Coords</label>
            <input type="text" class="form-control" name="coords" id="field_coords"
                    ng-model="vm.grodek.coords"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="showCasesApp.grodek.sign_type" for="field_sign_type">Sign Type</label>
            <input type="text" class="form-control" name="sign_type" id="field_sign_type"
                    ng-model="vm.grodek.sign_type"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_photo">Photo</label>
            <input type="text" class="form-control" name="photo" id="field_photo"
                    ng-model="vm.grodek.photo"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
