<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${photoName}">Area Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/content/css/details.css"></link>
    <style>
        img[usemap] {
            border: none;
            height: auto;
            max-width: 100%;
            width: auto;
        }
    </style>
</head>
<body>

<div>
    <img width="550" height="500" usemap="#areas" th:src="@{/content/images/spots/} + ${photoName} + @{.png}"/>
    <map id="community_areas" name="areas" >
         <area th:each="writer : ${place}" id="zbyszyce" th:attr="coords=${writer.coords}" name="dfsdf" alt="" title="" th:href="@{/details/} + ${writer.id}" shape="poly"  />
    </map>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="contentScripts/jquery.rwdImageMaps.min.js"></script>
<script type="text/javascript" src="contentScripts/jquery.imagemapster.js"></script>
<script type="text/javascript" src="contentScripts/grodek_mapster.js"></script>
<script>
    $(document).ready(function(e) {
        $('img[usemap]').rwdImageMaps();
    });
</script>
</body>
</html>
