body{
   background-color: #A9E3EE;
        h1{
            color: red;
            text-align: center;
        }
        #selections{
            float: left;
            width: 300px;
            height: 500px;
        }
        #community_map{
             width:640px;
             margin: auto;
        }
}
